:root {
  --lightgrey--: rgb(219, 213, 213);
  --orange--: rgb(245, 190, 89);
  --black--: rgb(6, 6, 6);
  --grey--: rgb(138, 134, 134);
}

html {
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--lightgrey--);
}

.listContainer {
  margin: 24px 12px;
  padding: 8px 24px;
  width: auto;
  background-color: var(--orange--);
  border-radius: 5px;
}

.title {
  color: var(--black--);
}

#inputField {
  width: 40%;
  height: 20px;
  border: 1px solid var(--black--);
  outline: none;
  font-size: 24px;
  vertical-align: middle;
  padding: 12px;
  margin-bottom: 12px;
  margin-right: 12px;
}

.listForm button {
  margin-left: 12px; 
  font-size: 24px;
}

.toDoList li {
  width: auto;
  display: flex;
  justify-content: space-between;
  list-style: none;
  font-size: 24px;
  margin: 24px;
  margin-left: 0;
  padding: 12px;
  color: var(--black--);
  border: 2px solid var(--black--);
  border-radius: 5px;
}

.toDoList li span {
  padding-left: 12px;
  padding-top: 8px;
}

#deleteAllButton {
  font-size: 24px;
}

.modal-overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: rgba(255, 255, 255, 0.25);
}

.modal {
  height: 10%;
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--grey--);
  border-radius: 8px;
}

.confirm-phrase {
  margin-top: 12px;
  font-size: 24px;
}

.modal .buttons {
  width: 90%;
  display: flex;
  justify-content: flex-end;
}

.modal .buttons button {
  margin: 8px;
  padding: 8px 36px;
}

#hidden {
  display: none;
}